$dark-primary: #171D41;

$secondary: #FC466B;

$dark-secondary: #E34364;

$darker-secondary: #D63C5C;

$text-color-1: #3F3F3F;

$text-color-2: #737373;

$text-color-3: #959494;

$link-color-1: #4990E2;

$link-color-1-dark: #407EC7;

$input-bg-color: #EBEBEB;

$input-placeholder-color: #c2c2c2;

$input-text-color: #737373;