@import './_extentions.scss';

@keyframes recording {
    from {
        opacity: 1;
    }
    to {
        opacity: .4;
    }
}

.controlbar {
    @extend %default-font;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    padding: 10px 280px 10px 280px;
    background-color: $dark-primary;
    z-index: 99;
    box-shadow: 0px -1px 9px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: white;
    font-weight: 500;
    &__volume {
        position: absolute;
        top: 0;
        left: 30px;
        width: 220px;
        height: 100%;
        margin-right: 30px;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    &__current-time {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-right: 0px;
        font-size: 14pt;
    }
    &__control {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            padding: 0px;
            width: 35px;
            height: 35px;
            margin-right: 7px;
            transition: fill .5s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .25s ease;
            svg {
                height: 100%;
            }
        }
        button:active {
            fill: $dark-secondary;
        }
        button:last-child {
            margin-right: 0px;
        }
        button.record-btn {
            fill: $secondary;
        }
        button.record-btn:hover {
            fill: $dark-secondary;
        }
        button.record-btn:active {
            fill: $darker-secondary;
        }
        button.record-btn.recording {
            animation-name: recording;
            animation-duration: .5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
        }
        button:disabled {
            opacity: .4;
        }
    }
    &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 30px;
        width: 30%;
        .option {
            width: auto;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14pt;
            button {
                width: 35px;
                height: 35px;
                padding: 5px !important;
                transition: fill .5s ease;
            }
        }
    
        .option.active {
            button {
                fill: $secondary;
            }
        }
    }
    

    &__messages {
        position: absolute;
        top: 0;
        height: 100%;
        width: 40px;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            width: 23px;
            height: 23px;
            transition: fill .5s ease;
        }
        button:active {
            fill: $darker-secondary;
        }
    }
    button {
        padding: 0px;
        background-color: unset;
        fill: white;
        border: unset;
        outline: none;
        cursor: pointer;
    }
}