@import "./pages/_main.scss";
@import "./pages/_loginSignup.scss";
@import "./pages/_explore.scss";
@import "./pages/_studio.scss";
@import "./pages/_profile.scss";

@import "_colors.scss";
@import "_buttons.scss";
@import "_form.scss";
@import "_menubar.scss";
@import "_playerbar.scss";
@import "_controlbar.scss";

@import "./_transition.scss";
@import "./_extentions.scss";


* {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

hr {
    position: relative;
    color: $text-color-3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $text-color-3;
}

hr.or:before {
    content: 'or';
    position: absolute;
    background-color: white;
    padding: 0px 10px;
}