.container#loginSignup {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('../images/loginSignup-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}