@import "../_colors.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

.main {
    width: 100%;
    height: auto;
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16pt;

    &__section {
        width: 100%;
        height: auto;
        padding: 70px 20px;
        box-sizing: border-box;
        h3.main__section__header--underlined {
            margin-bottom: 30 !important;
            text-align: center;
        }
        h3.main__section__header--underlined::after {
            content: "__";
            margin-top:-20px;
            display: block;
            color: $secondary;
            text-align: center;
        }
    }


    &__section--full {
        height: 100vh;
        max-height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(../images/main-section1-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;

        &__menubar {
            position: absolute;
            padding:50px 100px;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &__brand {
                width: 100%;
                text-align: left;
            }

            &__menu {
                width: 100%;
                ul {
                    float: right;
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                    li {
                        float: left;
                        display: inline;
                        text-decoration: none;
                    }
                    li:not(:first-child) {
                        padding-left: 60px;
                    }
                }
            }
        }
        h1 {
            margin-bottom: 60px !important;
        }
    }

    &__section--2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: url(../images/main-section2-bg.jpg);
        background-position: center;
        background-size: cover;
        img {
            margin-right: 20px;
        }

        &__content {
            width: 70%;
            max-width: 600px;
            margin-left: 20px;

            h3 {
                margin-bottom: 30px !important;
            }

            &__text {
                text-align: left;
            }
        }

    }

    &__section--3 {
        padding:70px 100px;
        .main__section--3__slides{
            padding: 30px 0px;
            .slick-list {
                .slick-track {
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                }
            }
            &__slide {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                height: 100%;
                max-height: 800px;
                outline: none;
                img {
                    margin-right: 20px;
                    width: 50%;
                    box-sizing: border-box;
                }
                &__content {
                    width: 50%;
                    margin-left: 20px;
                    box-sizing: border-box;
                    h4 {
                        margin-bottom: 30px !important;
                    }
                    &__text {
                        text-align: left;
                        strong {
                            padding-top: 10px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &__section--4 {
        background-image: url('../images/featured-artists-bg.jpg');
        background-size: cover;
        background-position: bottom center;
        &__featured-artists {
            padding: 50px 5%;
            padding-bottom: 0px;
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-direction: row;
            &__artist {
                width: 100%;
                height: auto;
                max-height: 700px;
                margin: 0px 30px;
                border-radius: 8px;
                position: relative;
                background-size: cover;
                background-position: center;
                img {
                    border-radius: 8px;
                    width: 100%;
                    background-size: cover;
                }
                &__content {
                    margin-top:90%;
                    padding: 30px;
                    left:0;
                    right:0;
                    &__desc {
                        margin-top: 30px;
                        text-align: justify;
                    }
                    h4 {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            &__artist--job {
                background-image: url('../images/featured-artist-1.png');
            }

            &__artist--spectre {
                background-image: url('../images/featured-artist-2.png');
            }

            &__artist--wolverine {
                background-image: url('../images/featured-artist-3.png');
            }

            &__artist:last-child {
                margin-right: 0px;
            }
            &__artist:first-child {
                margin-left: 0px;
            }
        }
    }

    &__section--5 {
        padding: 90px 100px;
        background-image: url('../images/pre-footer-bg.jpg');
        background-size: cover;
        background-position: right;
        p {
            margin: 40px 0px;
        }
    }

    &__section--6 {
        padding: 60px 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &__brand {
            width: 100%;
            h4 {
                color: $secondary;
                small {
                    color: white;
                    display: block;
                    font-weight: 400;
                    font-size: 12pt;
                    padding-top: 5px;
                }
            }
        }

        &__menu {
            width: 100%;
            font-size: 12pt;
            ul {
                float: right;
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                li {
                    float: left;
                    display: inline;
                    text-decoration: none;
                }
                li:not(:first-child) {
                    padding-left: 40px;
                }
            }
        }
    }

    h1 {
        font-weight: 700;
        font-size: 56px;
        margin: 0px;
    }

    h3 {
        font-weight: 700;
        font-size: 36px;
        margin: 0px;
    }

    h4 {
        font-weight: 700;
        font-size: 28px;
        margin: 0px;
    }

    h5 {
        font-weight: 400;
        font-size: 22px;
        margin: 0px;
    }
}

ul.useful-features-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: .8;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\2022";
                width: 20px;
                height: 20px;
                font-family: "Montserrat";
                font-size: 60px;
                line-height: 20px;
                text-align: center;
                color: white;
                opacity: .5;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: white;
            opacity: 1;
        }
    }
}