@import "../_colors.scss";
@import "../_extentions.scss";

$track-panel-bg: #1A1D2E;
$tracks-bg: #161927;
$ruler-bg: #181B2A;

$track-panel-width: 280px;

.studio {
    @extend %default-font;
    position: relative;
    width: 100%;
    display: flex;
    height: calc(100vh - 116px);
    flex-direction: column;
    margin-top: 58px;
    box-sizing: content-box;
    color: white;

    .top-bar {
        height: 30px !important;
        background-color: white;
        display: flex;
        .left-side {
            width: $track-panel-width;
            min-width: $track-panel-width;
            height: 100%;
            background-color: $track-panel-bg;
            box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.16);
            z-index: 10;
        }
        .beat-ruler {
            height: 100%;
            flex-grow: 1;
            //just hidden but it is alive
            overflow: hidden;
            background-color: $ruler-bg;
            canvas {
                width: 100%;
                height: 100%;
            }
        }
    }

    .track-section {
        height: calc(100% - 30px);
        overflow-y: overlay;
        .tracks-panel {
            float: left;
            height: 100%;
            width: $track-panel-width;
            background-color: $track-panel-bg;
            box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.16);
            position: relative;
            z-index: 10;
            .track {
                height: 100px;
                width: 100%;
                background-color: $track-panel-bg;
                border-color: #181A23;
                border-bottom-style: solid;
                border-bottom-width: 1.5px;
                cursor: pointer;
                transition:  background-color .25s ease;
                user-select: none;
                padding: 15px;
                display: flex;
                flex: row;
                &__icon {
                    fill: white;
                    height: 67px;
                    width: 67px;
                }
                &__right-side {
                    flex-grow: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name {
                        font-size: 12pt;
                        font-weight: 500;
                    }
                    .control {
                        height: 30px;
                        margin-top: 8px;
                        display: flex;
                        .control__section {
                            width: 25px;
                            height: 25px;
                            margin-right: 9px;
                            button {
                                width: 25px;
                                height: 25px;
                                padding: 0px;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                cursor: pointer;
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    fill: white;
                                }
                            }
                            button.active {
                                svg {
                                    fill: $secondary;
                                }
                            }
                        }
                    }
                }
            }
            .track:first-child {
                border-top-style: solid;
                border-top-width: 1.5px;
            }
            .track--add-new-track {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                color: #555;
                transition: color .25s ease, background-color .25s ease;
            }
            .track--add-new-track:hover {
                color: white;
            }

            .track--add-new-track:active {
                background-color: #2B2E49;
            }
        }
        .tracks {
            float: left;
            overflow-x: overlay;
            overflow-y: hidden;
            min-height: 100%;
            height: auto;
            width: 100%;
            max-width: calc(100% - 280px);
            background-color: rgb(22, 25, 39) !important;
            display: flex;
            flex-direction: column;
            padding-bottom: 100px;
            .track-lane {
                height: 100px;
                border-bottom-color: #282A3A;
                border-bottom-style: solid;
                border-bottom-width: 1.5px;
                position: relative;
                .regions {
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    top: 0;
                    left: 0;
                    padding: 1.5px 0px;
                }
            }
        }
    }
    .chat-box {
        position: absolute;
        height: 100%;
        width: 280px;
        background-color: white;
        z-index: 5;
        right: -280px;
        box-shadow: unset;
        transition: right .5s ease;
        display: inline-flex;
        flex-direction: column;
        .top {
            width: 100%;
            min-height: 130px;
            background-color: $dark-primary;
            padding: 25px 25px;
            display: flex;
            flex-direction: column;
            user-select: none;
            p {
                font-size: 16pt;
                margin:0px;
                font-weight: 500;
            }
            .collaborators {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                margin-top: auto;
                .each {
                    width: 35px;
                    height: 35px;
                    border-style: solid;
                    border-color: white;
                    border-width: thin;
                    border-radius: 100%;
                    margin-right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22pt;
                    overflow: hidden;
                    cursor: pointer;
                    img.profile {
                        width: 100%;
                        height: 100%;
                    }
                }
                .each:last-child {
                    margin-right: 0px;
                }
            }
        }
        .messages-box {
            flex-grow: 1;
            padding: 10px 10px 0px 10px;
            max-width: 280px;
            overflow-y: auto;
            .messages {
                flex: 1;
                margin-bottom: 10px;
                height: auto;
                .sub-messages {
                    display: inline-flex;
                    flex-direction: column;
                    flex: 1 1 0;
                    align-items: flex-start;
                    .text {
                        flex: 1;
                        position: relative;
                        width: auto;
                        height: auto;
                        max-width: 180px;
                        border-radius: 0px 8px 8px 0px;
                        background-color: #E7E7E7;
                        padding: 10px 15px;
                        margin: 0px;
                        color: black;
                        font-size: 11pt;
                        font-weight: 500;
                        margin-bottom: 5px;
                        word-break: all;
                        overflow-wrap: break-word;
                    }
                    .text:first-child {
                        border-radius: 8px 8px 8px 0px;
                    }
                    .text:last-child {
                        border-radius: 0px 8px 8px 8px;
                        margin-bottom: 0px;
                    }
                    .text:only-child {
                        border-radius: 8px;
                    }
                }
            }
            .messages:last-child {
                margin-bottom: 0px;
            }
            .messages.left {
                display: flex;
                flex-direction: row;
                transition: all .5s ease;
                img.profile {
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    margin-right: 10px;
                    margin-bottom: 12px;
                    align-self: flex-end;
                    transition: all .5s .5s ease;
                }
            }
            .messages.right {
                .sub-messages {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .text {
                        max-width: 240px;
                        background-color: $secondary;
                        color: white;
                        border-radius: 8px 0px 0px 8px;
                    }
                    .text:first-child {
                        border-radius: 8px 8px 0px 8px;
                    }
                    .text:last-child {
                        border-radius: 8px 0px 8px 8px;
                    }
                    .text:only-child {
                        border-radius: 8px;
                    }
                }
            }
            .messages.events {
                flex: 1;
                padding: 10px;
                margin: 0px;
                height: auto;
                font-size: 11pt;
                color: $text-color-3;
                text-align: center;
            }
        }
        .message-input {
            min-height: 70px;
            width: 100%;
            background: white;
            display: flex;
            padding: 10px;
            textarea {
                float: left;
                flex-grow: 1;
                min-height: 50px;
                max-height: 50px;
                border-radius: 8px;
                border-style: unset;
                padding: 15px 10px 10px 20px;
                font-weight: 500;
                background-color: $input-bg-color;
                color: $input-text-color;
                font-size: 11pt;
                resize: none;
            }

            textarea::placeholder {
                color: $input-placeholder-color;
            }
            button {
                width: 40px;
                height: 40px;
            }
        }
    }
    .chat-box.show {
        right: 0px;
        box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.16);
    }
}