@import "../_colors.scss";
@import "../_extentions.scss";

$track-panel-bg: #1A1D2E;
$tracks-bg: #161927;
$ruler-bg: #181B2A;

$track-panel-width: 280px;

.studio {
    @extend %default-font;
    position: relative;
    width: 100%;
    display: flex;
    height: calc(100vh - 116px);
    overflow: hidden;
    flex-direction: column;
    margin-top: 58px;
    box-sizing: content-box;
    color: white;
    
    .modal {
        z-index: 1000;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        color: $text-color-1;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color .25s ease-in-out !important;
        &__container {
            position: relative;
            width: 400px;
            height: auto;
            background-color: white;
            border-radius: 6px;
            opacity: 0;
            padding: 0px 15px 0px 15px;
            box-sizing: content-box;
            transition: opacity .25s ease-in !important;
            overflow: hidden;
            .modal__header {
                font-weight: 600;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .modal__title {
                font-weight: 600;
                height: 45px;
                font-size: 11pt;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                background-color: #F6F7F9;
                border-bottom: #E5E5E5 solid 1px;
                .modal__btn.btn--close {
                    top: 13.5px;
                }
            }
            .modal__content {
                font-size: 10pt;
                height: auto;
                padding: 15px 20px;
            }
            .modal__footer {
                font-size: 10pt;
                min-height: 45px;
                padding: 0px 20px;
                border-top: #E5E5E5 solid 1px;
            }
            .modal__header.underlined {
                border-bottom: solid #DDD thin;
            }
            .modal__newtrack {
                // display: flex;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: 20px;
                width: 100%;
                min-height: 200px;
                height: auto;
                padding: 0px 15px 0px 15px;
                
                .type {
                    transition: transform ease .25s;
                    .icon {
                        display: flex;
                        justify-content: center;
                        border-radius: 4px;
                        background-color: $dark-primary;
                        svg {
                            width: 60%;
                            fill: white;
                        }
                    }
                    .name {
                        font-weight: 500;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .type:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
                .type:active {
                    transform: scale(.95);
                }
            }
            .modal__add-contributor {

                .inputContainer {
                    input {
                        border-radius: 0px;
                        border-bottom: solid #DDD thin;
                        background: white;
                    }
                    input:focus {
                        background-color: white;
                        border-color: $primary;
                        border-style: solid;    
                        border-width: thin;
                    }
                }
                .user-list {
                    width: 100%;
                    height: auto;
                    height: 210px;
                    max-height: 280px;
                    overflow-y: scroll;
                    background-color: #F3F3F3;
                    div.user {
                        width: 100%;
                        height: 70px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 15px;
                        border-bottom: solid #EEE thin;
                        background-color: white;
                        .user__profile-pic {
                            height: 40px;
                            width: 40px;
                            border-radius: 40px;
                            background-color: #ddd;
                            margin-right: 15px;
                            overflow: hidden;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .user__username {
                            display: flex;
                            color: $text-color-2;
                            align-items: center;
                            height: 100%;
                            flex-grow: 1;
                            margin-right: 15px;
                        }
                        .user__add-btn {
                            cursor: pointer;
                            font-size: 10pt;
                            background-color: $secondary;
                            color: white;
                            border-radius: 40px;
                            border-style: none;
                            height: 30px;
                            padding: 0px 15px;
                            outline: none;
                        }
                        .user__add-btn:hover {
                            background-color: $dark-secondary;
                        }
                        .user__add-btn:active {
                            background-color: $darker-secondary;
                        }

                        .user__add-btn.disabled {
                            background-color: white;
                            border-style: solid;
                            border-width: thin;
                            border-color: #C8C8C8;
                            color: #C8C8C8;
                        }
                    }
                }
            }
            .modal__add-contributor > div {
                // margin-bottom: 20px;
            }
            .modal__add-contributor > div:last-child {
                margin-bottom: 0px;
            }

            .modal__btn {
                cursor: pointer;
            }
            .modal__btn.btn--close {
                position: absolute;
                right: 20px;
                top: 18px;
                opacity: .8;
            }
            .modal__btn.btn--close:hover {
                opacity: 1;
            }
            .modal__btn.submit {
                background-color: $secondary;   
                color: white;
                padding: 0px 20px;
                border-radius: 30px;
                font-weight: 600 !important;
            }
            .modal__btn.submit:hover {
                background-color: $dark-secondary;
            }
            .modal__btn.submit:active {
                background-color: $darker-secondary;
            }
            .modal__btn__group {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 45px;
                .modal__btn {
                    font-weight: normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;
                    height: 30px;
                    opacity: .8;
                }
                .modal__btn:hover {
                    opacity: 1;
                }
                .modal__btn.submit {
                    opacity: 1;
                }
                .modal__btn:last-child {
                    margin-right: 0px;
                }
            }
            .modal__btn__group.pull-right {
                justify-content: flex-end;
            }
        }
        &__container.avoid-padding {
            padding: 0px;
        }
    }

    .modal.show {
        pointer-events: all;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        .modal__container {
            opacity: 1;
        }
    }
    

    .top-bar {
        height: 30px !important;
        background-color: white;
        display: flex;
        .left-side {
            width: $track-panel-width;
            min-width: $track-panel-width;
            height: 100%;
            background-color: $track-panel-bg;
            box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.16);
            z-index: 10;
        }
        .beat-ruler {
            position: relative;
            height: 100%;
            flex-grow: 1;
            //just hidden but it is alive
            overflow: hidden;
            background-color: $ruler-bg;
            cursor: pointer;
            canvas {
                width: 100%;
                height: 100%;
            }
            svg.indicator {
                position: absolute;
                z-index: 18;
                top: 0;
                left: 0;
                width: 24.86px;
                height: 30px;
                margin-left: -12.43px;
                .st0 {
                    fill: none;
                    stroke: $secondary;
                    stroke-width: 3;
                    stroke-miterlimit: 10;
                }
                .st1 {
                    opacity: .48;
                    fill: $secondary;
                }
            }
        }
    }

    .track-section {
        height: calc(100% - 30px);
        overflow-y: overlay;
        overflow-x: hidden;
        .tracks-panel {
            float: left;
            min-height: 100%;
            height: auto;
            width: $track-panel-width;
            background-color: $track-panel-bg;
            box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.16);
            position: relative;
            z-index: 10;
            .track {
                height: 100px;
                width: 100%;
                background-color: $track-panel-bg;
                border-color: #181A23;
                border-bottom-style: solid;
                border-bottom-width: 1.5px;
                cursor: pointer;
                transition:  background-color .25s ease;
                user-select: none;

                padding: 15px;
                display: flex;
                flex: row;
                &__icon {
                    fill: white;
                    height: 67px;
                    width: 67px;
                }
                &__right-side {
                    flex-grow: 1;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .name {
                        font-size: 12pt;
                        font-weight: 500;
                    }
                    .control {
                        height: 30px;
                        margin-top: 8px;
                        display: flex;
                        .control__section {
                            width: 25px;
                            height: 25px;
                            margin-right: 9px;
                            button {
                                width: 25px;
                                height: 25px;
                                padding: 0px;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                cursor: pointer;
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    fill: white;
                                }
                            }
                            button.active {
                                svg {
                                    fill: $secondary;
                                }
                            }
                        }
                    }
                }
            }
            .track.active {
                background-color: #2B2E49;
            }

            .track:first-child {
                border-top-style: solid;
                border-top-width: 1.5px;
            }
            .track--add-new-track {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                color: #555;
                transition: color .25s ease, background-color .25s ease;
            }
            .track--add-new-track:hover {
                color: white;
            }

            .track--add-new-track:active {
                background-color: #2B2E49;
            }
        }
        .tracks {
            float: left;
            overflow-x: overlay;
            overflow-y: hidden;
            min-height: 100%;
            height: auto;
            width: 100%;
            max-width: calc(100% - 280px);
            background-color: rgb(22, 25, 39) !important;
            display: flex;
            flex-direction: column;
            padding-bottom: 100px;
            .track-lane {
                height: 100px;
                border-bottom-color: #282A3A;
                border-bottom-style: solid;
                border-bottom-width: 1.5px;
                position: relative;
                cursor: pointer;
                .regions {
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 100px;
                    top: 0;
                    left: 0;
                    padding: .5px 0px 3.5px 0px;
                    .audio-region {
                        height: calc(100% - 1px);
                        border-radius: 8px;
                        width: 100px;
                        position: absolute;
                        top: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-width: 1px;
                        border-style: solid;
                        cursor: pointer;
                        user-select: none;
                        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                        box-sizing: border-box;
                        overflow: hidden;
                        transition: background-color ease-in .05s, color ease-in .05s, border ease-in .05s;
                        .resize-left {
                            position: absolute;
                            z-index: 10;
                            left: 0px;
                            width: 5px;
                            height: 100%;
                            cursor: col-resize;
                        }
                        .resize-right {
                            position: absolute;
                            z-index: 10;
                            right: 0px;
                            width: 5px;
                            height: 100%;
                            cursor: col-resize;
                        }
                    }
                    .audio-region--piano {
                        background-color: #B5BF73;
                        border-color: rgb(132, 158, 105);
                        color: #69884D;
                        .chord-name {
                            font-size: 20pt;
                            font-weight: 600
                        }
                        .time-signature {
                            position: absolute;
                            font-size: 10pt;
                            right: 6px;
                            top: 6px;
                        }
                    }
                    .audio-region--piano.active {
                        background-color: #DDE986;
                        border-color: #91AF73;
                        color: #7EA457;
                    }
                    .audio-region--audio {
                        background-color: #CA95D3;
                        color: #996AA2;
                        border-color: #C677D3;
                        .audio-waveform {
                            height: 100%;
                            position: absolute;
                        }

                        .chord-name {
                            font-size: 20pt;
                            font-weight: 600
                        }
                        .time-signature {
                            position: absolute;
                            font-size: 10pt;
                            right: 6px;
                            top: 6px;
                        }
                    }
                    .audio-region--audio.active {
                        background-color: rgb(237, 171, 240);
                        color: rgb(143, 79, 151);
                        border-color: rgb(233, 133, 240);
                    }
                    .audio-region.muted {
                        background-color: #454752;
                        color: #73757D;
                        border-color: unset;
                        border: 0px;
                    }
                    .audio-region.muted.active {
                        background-color: #8A8C93;
                        color: #D0D1D3;
                        border-color: white;
                        border-style: solid;
                        border-width: 1px;
                    }
                    .audio-region.do-not {
                        background-color: #eb8080 !important; 
                        color: #c76464 !important; 
                        border-color: #c76464 !important;
                        border-style: solid;
                        border-width: 1px;
                        .audio-waveform, .chord-name, .time-signature {
                            display: none;
                        }   
                    }
                    .audio-region.do-not::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        background-color: #df5252;
                        -webkit-mask: url('../svg/DoNot.svg') no-repeat center;
                        -webkit-mask-size: 60px;
                        mask: url('../svg/DoNot.svg') no-repeat center;
                        mask-size: 50%;
                    }
                }
                svg.indicator-line {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    margin-left: -1.5px;
                    height: 100px;
                    width: 3px;
                    pointer-events: none;
                    .st0 {
                        fill: none;
                        stroke-width: 3px;
                        stroke: $secondary;
                        stroke-miterlimit: 10;
                    }
                }
            }
        }
    }
    .track-options {
        background-color: $dark-primary;
        box-shadow: 0px -1px 9px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 35%;
        z-index: 10;
        user-select: none;
        .close-btn {
            display: flex;
            align-items: center;
            position: absolute;
            cursor: pointer;
            top: 20px;
            left: 20px;
            font-size: 16pt;
            height: 26px;
            color: rgba($color: #FFF, $alpha: .6);
            transition: color .25s ease;
        }
        .close-btn:hover {
            color: rgba($color: #FFF, $alpha: 1);
        }
    }

    .track-options.chord-suggestions {
        height: 137px;
        .options-container {
            display: grid;
            grid-template-columns: 70% 30%;
            padding: 20px 80px;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            div {
                .topic {
                    color: white;
                    font-size: 14pt;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                .group-btn {
                    display: flex;
                    flex-wrap: wrap;
                }
                .group-btn > div {
                    cursor: pointer;
                    overflow: hidden;
                    border-radius: 6px;
                    border-style: solid;
                    border-width: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .chord-section {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                .group-btn {
                    flex-grow: 1;
                    .chord {
                        font-size: 16pt;
                        font-weight: 600;
                        width: 12%;
                        margin-right: 0.5%;
                        height: 50px;
                        background-color: #DDE986;
                        border-color: #91AF73;
                        color: #91AF73;
                        transition: all .25s ease-in-out;
                    }
                    .chord:last-of-type {
                        margin-right: 0px;
                    }
                    .chord:active {
                        background-color: #D8E85E;
                        border-color: #77B13C;
                        color: #7EA457;
                    }
                }
                .loading {
                    flex-grow: 1;
                    background-image: url('../svg/loading-spinner-white.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            .duration-section {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                .group-btn {
                    flex-grow: 1;
                    flex-wrap: nowrap;
                    .duration {
                        flex-grow: 1;
                        width: 80px;
                        height: 50px;
                        border-color: white;
                        color: white;
                        transition: all .25s ease;
                    }
                    .duration:not(:last-child) {
                        margin-right: 5px;
                    }

                    .duration:hover, .duration.active {
                        background-color: white;
                        color: $dark-primary;
                    }
                }
            }
        }
    }

    .chat-box {
        position: absolute;
        height: 100%;
        width: 280px;
        background-color: white;
        z-index: 20;
        right: -280px;
        box-shadow: unset;
        transition: right .5s ease;
        display: inline-flex;
        flex-direction: column;
        .top {
            width: 100%;
            min-height: 130px;
            background-color: $dark-primary;
            padding: 25px 25px;
            display: flex;
            flex-direction: column;
            user-select: none;
            p {
                font-size: 16pt;
                margin:0px;
                font-weight: 500;
            }
            .collaborators {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                margin-top: auto;
                .each {
                    width: 35px;
                    height: 35px;
                    border-style: solid;
                    border-color: white;
                    border-width: thin;
                    border-radius: 100%;
                    margin-right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22pt;
                    overflow: hidden;
                    cursor: pointer;
                    img.profile {
                        width: 100%;
                        height: 100%;
                    }
                }
                .each:last-child {
                    margin-right: 0px;
                }
            }
        }
        .messages-box {
            flex-grow: 1;
            padding: 10px 10px 0px 10px;
            max-width: 280px;
            overflow-y: auto;
            .messages {
                flex: 1;
                margin-bottom: 10px;
                height: auto;
                .sub-messages {
                    display: inline-flex;
                    flex-direction: column;
                    flex: 1 1 0;
                    align-items: flex-start;
                    .text {
                        flex: 1;
                        position: relative;
                        width: auto;
                        height: auto;
                        max-width: 180px;
                        border-radius: 0px 8px 8px 0px;
                        background-color: #E7E7E7;
                        padding: 10px 15px;
                        margin: 0px;
                        color: black;
                        font-size: 11pt;
                        font-weight: 500;
                        margin-bottom: 5px;
                        word-break: all;
                        overflow-wrap: break-word;
                    }
                    .text:first-child {
                        border-radius: 8px 8px 8px 0px;
                    }
                    .text:last-child {
                        border-radius: 0px 8px 8px 8px;
                        margin-bottom: 0px;
                    }
                    .text:only-child {
                        border-radius: 8px;
                    }
                }
            }
            .messages:last-child {
                margin-bottom: 0px;
            }
            .messages.left {
                display: flex;
                flex-direction: row;
                transition: all .5s ease;
                img.profile {
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    margin-right: 10px;
                    margin-bottom: 12px;
                    align-self: flex-end;
                    transition: all .5s .5s ease;
                }
            }
            .messages.right {
                .sub-messages {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .text {
                        max-width: 240px;
                        background-color: $secondary;
                        color: white;
                        border-radius: 8px 0px 0px 8px;
                    }
                    .text:first-child {
                        border-radius: 8px 8px 0px 8px;
                    }
                    .text:last-child {
                        border-radius: 8px 0px 8px 8px;
                    }
                    .text:only-child {
                        border-radius: 8px;
                    }
                }
            }

            .messages.right + .messages.events, .messages.left + .messages.events {
                margin-top: 20px;
            }
            
            .messages.events {
                flex: 1;
                margin: 0px;
                height: auto;
                font-size: 11pt;
                color: $text-color-3;
                text-align: center;
            }
            .messages.events + .messages.left, .messages.events + .messages.right {
                margin-top: 20px;
            }
            .messages.events:last-of-type {
                padding-bottom: 10px;
            }
        }
        .message-input {
            min-height: 70px;
            width: 100%;
            background: white;
            display: flex;
            padding: 10px;
            textarea {
                float: left;
                flex-grow: 1;
                min-height: 50px;
                max-height: 50px;
                border-radius: 8px;
                border-style: unset;
                padding: 15px 10px 10px 20px;
                font-weight: 500;
                background-color: $input-bg-color;
                color: $input-text-color;
                font-size: 11pt;
                resize: none;
            }

            textarea::placeholder {
                color: $input-placeholder-color;
            }
            button {
                width: 40px;
                height: 40px;
            }
        }
    }
    .chat-box.show {
        right: 0px;
        box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.16);
    }
}